.w-color-circle-point {
  border: 1px solid
    hsl(
      var(--nextui-divider) /
        var(--nextui-divider-opacity, var(--tw-bg-opacity))
    );
}

.w-color-circle > [title="#ffffff"] > div {
  background-color: rgb(209 213 219) !important;
}

.w-color-circle-point > div {
  background-color: rgb(243 244 246) !important;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #cfcfcf;
  width: 4rem;
  height: 4rem;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  border: 0px;
  outline: 4px solid #de8f2c;
}

/* NOT SELECTED */
[type="radio"][value="none"] + img {
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid #cfcfcf;
  width: 4rem;
  height: 4rem;
}

[type="radio"]:checked[value="none"] + img {
  border: 0px;
  outline: 4px solid #de8f2c;
}
